*~
__pycache__/
results/*.png
results/*.txt
processed_data/*.dat
.*.sw?
.vscode
.idea
*.pyc
.pytest_cache

# ignore build output
*build/
*_build/
user_guide/doc/_build
user_guide/doc/build

# ignore VS Code files
/.idea

# ignore local fcm build script 
build_fcm_make.sh

# ignore envs
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# UV
.python-version
