include = $HERE/envars.cfg

$JULES_COMPILER = gfortran
$JULES_MPI = nompi
$JULES_OMP = noomp

$JULES_NETCDF = netcdf

$JULES_NETCDF_INC_PATH = /usr/include/mpich-x86_64 /usr/lib64/gfortran/modules/mpich
$JULES_NETCDF_LIB_PATH = /usr/lib64/mpich/lib

include = $HERE/load_settings.cfg

##$fflags = $fflags -O0 -check uninit -check pointers 
##$ldflags = $ldflags -O0 -check uninit -check pointers 
